/* css navbar */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: rgb(111, 111, 111);
}

.li_custom {
  list-style: none;
  color: #fff;
  width: 220px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: black;
}

.sidebar_logo_images {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sidebar_menu li.active {
  font-weight: bold;
  color: #fff;
  width: 220px;
  height: 40px;
  border-radius: 10px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_logout_button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: brown;
}
